{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{% block content %}
{{ wtf.quick_modal_form(form=form, modal_id="add_record", modal_title='Add a new record') }}

<div class="container">
	<button type="button" data-bs-toggle="modal" class="btn btn-primary btn-lg fs-5" data-bs-target="#add_record">Add a new record</button>
	<div id="table"></div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
	const tableDiv = document.getElementById('table');
	
	const updateUrl = (prev, query) => {
		return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
	};

	const editableCellAttributes = (data, row, col) => {
		if (row) {
			return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
		}
		else {
			return {};
		}
	};

	dateFormatter = function(date) {
		if (date) {
			const dateObj = new Date(date);
			return dateObj.toLocaleString('fr-FR', {
				timeZone: 'Europe/Berlin'
			});
		}
		return '';
	};
	
	new gridjs.Grid({
		columns: [
			{ id: 'id', name: 'Id', sort: true },
			{ id: 'desc', name: 'Description', 'attributes': editableCellAttributes },
			{ id: 'type_id', name: 'Type Id', 'attributes': editableCellAttributes }
		],
		style: {
			table: {
				'table-layout': 'auto'
			},
			th: {
				'text-align': 'center',
				'word-break': 'break-all'
			}
		},
		className: {
			table: 'table table-striped'
		},
		server: {
			url: '/api/table/line',
			then: results => results.data,
			total: results => results.total,
		},
		search: {
			enabled: true,
			debounceTimeout: 1000,
			server: {
				url: (prev, search) => {
					return updateUrl(prev, {search});
				},
			},
		},
		sort: {
			enabled: true,
			multiColumn: true,
			server: {
				url: (prev, columns) => {
				const columnIds = ['id', 'desc', 'type_id'];
				const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
				return updateUrl(prev, {sort});
				},
			},
		},
		pagination: {
			enabled: true,
			limit: 25,
			server: {
				url: (prev, page, limit) => {
				return updateUrl(prev, {start: page * limit, length: limit});
				},
			},
		},
	}).render(tableDiv);

	let savedValue;

	tableDiv.addEventListener('mousedown', ev => {
		if (ev.target.tagName === 'TD') {
			if (ev.target.dataset.columnId === 'dummy') {
				ev.preventDefault();
			}
			else {
				savedValue = ev.target.textContent;
			}
		}
	});
	
	tableDiv.addEventListener('change', ev => {
		if (ev.target.type === 'checkbox') {
			fetch('/api/table/line', {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify({
					id: ev.target.parentNode.parentNode.dataset.elementId,
					[ev.target.parentNode.parentNode.dataset.columnId]: ev.target.checked ? 'true' : 'false'
				}),
			});
		}
	});

	tableDiv.addEventListener('focusout', ev => {
		if (ev.target.tagName === 'TD') {
			if (savedValue !== ev.target.textContent) {
				save = true;
				if (ev.target.dataset.columnId === 'status') {
					if (ev.target.textContent < 10 || ev.target.textContent > 99) {
						save = false;
						ev.target.textContent = savedValue;
						ev.target.focus();
					}
				}
				if (save) {
					fetch('/api/table/line', {
						method: 'POST',
						headers: {'Content-Type': 'application/json'},
						body: JSON.stringify({
							id: ev.target.dataset.elementId,
							[ev.target.dataset.columnId]: ev.target.textContent
						}),
					});
					savedValue = undefined;
				}
			}
		}
	});

	tableDiv.addEventListener('keydown', ev => {
		if (ev.target.tagName === 'TD') {
			if (ev.key === 'Escape') {
				ev.target.textContent = savedValue;
				ev.target.blur();
			}
			else if (ev.key === 'Enter') {
				ev.preventDefault();
				ev.target.blur();
			}
		}
	});
</script>
{% endblock %}